<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="executor.VerifyAdminLoginTest"/>
      <class name="executor.VerifyAdminHomePageTest"/>
      <class name="executor.TabsVerificationTest"/>
      <class name="executor.BcastUserCreationTest"/>
      <class name="executor.CampaignCreationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
